<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{{url_for('login')}}" method="POST">
      <h1>form</h1>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="name" required />
      <label for="name">Password</label>
      <input
        type="text"
        name="password"
        id="password"
        placeholder="name"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
